<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Server" value="ftps.moex.com" />
    <add key="UserName" value="хххххх@ххх.ru" />
    <add key="Password" value="ххххххххх" />
    <add key="DownloadDirectory" value="C:\ftp\" />
    <add key="DownloadLog" value="logs\{0:yyyy-MM}\{0:yyyy-MM-dd}.log"/>
    <add key="DownloadHistory" value="UpdateHistory.txt"/>
    <add key="DownloadDays" value="14"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>
